{% extends "@Recruitment/Default/base.html.twig" %}

{% block body %}
    {% include '@Recruitment/Default/header.html.twig' %}
    {% for cate in category %}
        {{ cate.cateName }}<br />
    {% endfor %}
{% endblock %}


